.cms_list_module{margin: 0 auto; width: 998px;}
.cms_list_module .cms_title{font-size: 24px; color: #324075; font-weight: bold; height: 70px; line-height: 60px;}

.cms_list_module .cms_table { width: 998px; margin: 10px auto; font-size: 14px; font-weight: 400; text-align: center;}
.cms_list_module .cms_table thead{display: none;}
.cms_list_module .cms_table td{ background: white; color:#666; border-bottom:1px solid #e5e4e2; line-height: 45px;text-align: left;font-size: 12px;}
.cms_list_module .cms_table td .name{ text-decoration: none; width: 500px; color: #6f5855; margin-left: 50px;}
.cms_list_module .cms_table td .name:hover{ color: #2ea7e0;}
.cms_list_module .cms_table td .time{ width: 100px;color: #a9a9a9;}

.cms_list_module .tableFooter{ margin:30px auto; width:1200px; text-align: center;}
.cms_list_module .tableFooter span,.cms_list_module .tableFooter a{ cursor: pointer; border: 1px #e5e5e5 solid; font-size: 14px; font-weight: bold; text-decoration:none;  display: inline-block; padding:5px 10px; margin:0 3px; }
.cms_list_module .tableFooter span:hover,.cms_list_module .tableFooter a:hover,.cms_list_module .tableFooter a.pageactive{background: #324075; color:white;}
.cms_list_module .tableFooter strong{ margin-right: 50px;}
.cms_list_module .tableFooter .disabledClass{ cursor: inherit; opacity: .5; }
.cms_list_module .tableFooter .disabledClass:hover{ background: none; color: #666;}
