.carousel_module{
width: 100%;
overflow: hidden;
}
.carousel_module .pic{
height: 700px;
position: relative;
left: 0px;
}
.carousel_module .pic .pic_item{
height: 700px;
display: inline-block;
position: absolute;
}
.carousel_module .pic .pic_0{
z-index: 10;	
}
.carousel_module .point{
text-align: center;
margin-top: -50px;
position: relative;
z-index: 20;
height: 50px;
}
.carousel_module .point .point_item{
display: inline-block;
width: 12px;
height: 12px;
margin: 5px;
border: none;
border-radius: 10px;
cursor: pointer;
background: #bcbcbc;
}
.carousel_module .point .point_item.active{
background: #0392fd;
}