.funds_record_module{
  background: #fff;
  display: inline-block;
  width: 900px;
  padding: 40px 50px;
  font-size: 14px;
}
.funds_record_module .tap_head{
 border-bottom: 1px solid #e8e8e8;
}
.funds_record_module .tap_head .tap_item{
  width: 140px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #f6f6f6;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  top: 1px;
  cursor: pointer;
}
.funds_record_module .tap_head .tap_item.on{
  border-bottom: 1px solid #fff;
  background: #fff;
}
.funds_record_module .tap_head .tap_item:first-child{
  border-left: 1px solid #e8e8e8;
}
.funds_record_module .inquiry_box{
  margin: 20px 0;
  border: 1px solid #e8e8e8;
}
.funds_record_module .select_type{
  display: inline-block;
  width: 200px;
  line-height: 36px;
  border: 1px solid #e8e8e8;
  height: 30px;
  cursor: pointer;
  position: relative;
  margin: 0 10px;
}
.funds_record_module .select_type:after{
  display: inline-block;
  content: "";
  border: 5px solid transparent;
  border-top: 10px solid #232d4e;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 7px
}
.funds_record_module .dropdown{
  position: relative;
  top: -4px;
  height: 30px;
  width: 200px;
  margin: 0;
  cursor: pointer;
  border: transparent;
  background: transparent;
  border-radius: 0;
  text-indent: 10px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;

}
.funds_record_module .inquiry_type,
.funds_record_module .inquiry_time{
    margin: 20px;
}
.funds_record_module .inquiry_box label{
	
}
.funds_record_module .inquiry_box .inquiry_type_item,
.funds_record_module .inquiry_box .inquiry_time_item{
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.funds_record_module .inquiry_box .inquiry_type_item.sel,
.funds_record_module .inquiry_box .inquiry_time_item.sel{
  background: #232d4e;
  color: #fff;
}
.funds_record_module .inquiry_box .time_wrapper {
    display: inline-block;
    margin-right: 10px;
    height: 24px;
    line-height: 
    width: 148px;
    border: 1px solid #f6f6f6;
}
.funds_record_module .inquiry_box .time_wrapper span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #e8e8e8;
    text-align: center;
}
.funds_record_module .inquiry_box .time_wrapper input {
    padding-left: 5px;
    width: 113px;
    border: none;
    height: 24px;
    display: inline-block;
    background: transparent;
}
.funds_record_module .table_box{
	height: 650px;
}
.funds_record_module .inquiry_table { 
	width: 900px; 
	margin: 10px auto; 
	font-size: 14px; 
	font-weight: 400; 
	text-align: center;
}
.funds_record_module .inquiry_table th{ 
	background: #e8e8e8; 
	line-height: 36px;  
}
.funds_record_module .inquiry_table td{ 
	background: white; 
	color:#666; 
	border-bottom:1px solid #ccc; 
	line-height: 60px;
}
.funds_record_module .pager_bar {
  text-align: right;
  margin-top: 30px;
  height: 20px;
}
.funds_record_module .pager_bar span.on, 
.funds_record_module .pager_bar a:hover  {
    border-radius: 1px;
    background: #242d4f;
    color: #FFF;
}
.funds_record_module .pager_bar a:hover  {
    text-decoration: none;
}
.funds_record_module .pager_bar a, 
.funds_record_module .pager_bar span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    margin: 0 3px;
}
