.account_module{ width: 1200px; margin: 0 auto; background: #242d4f;}
.account_module .navigation{ width: 180px; height: 100%;   }
.account_module .main{ width: 1000px; padding-left: 20px; background:#f5f5f5; min-height: 441px; *height: 441px; }